<h1>All our Flats</h1>


<div class="row">
  <% @flats.each do |flat| %>
  <div class="card col-4">
    <div class="card-body">
      <h3 class='card-title'><%= flat.name %></h3>
      <p><%= flat.address %></p>
      <p><i class="fas fa-euro-sign"></i><%= flat.price_per_night %></p>
      <p><i class="fas fa-users"></i><%= flat.number_of_guests %></p>
    </div>
    <div class="card-body">
      <p><%= link_to "More info", flat_path(flat) %></p>
      <p><%= link_to "Edit", edit_flat_path(flat) %></p>
      <p><%= link_to "Remove", flat_path(flat), method: :delete, data: { confirm: "Are you sure?"} %></p>
    </div>
  </div>
  <% end %>
</div>
